<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Amanuel Reda</title>
        <link rel="stylesheet" href="../styles/stylesheet.css" />
        <link rel="stylesheet" href="../styles/resumestyles.css" />
        <script src="script.js"></script>
        <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../styles/drawingBoardCSS.css"
        />
    </head>
    <body>
        <section id="fixedd">
            <nav>
                <a href="../index.html"><ion-icon name="home"></ion-icon>Home</a>
                <div class="animation start-home"></div>
            </nav>
            <section>
                <div
                    style="
                        margin-left: 150px;
                        margin-top: 30px;
                        display: flex;
                        text-align: center;
                        justify-content: safe center;
                    "
                >
                    <p id="p1">System.</p>
                    <p id="p4">out</p>
                    <p id="p1">.print(</p>
                    <p id="p2">"Hello,World!"</p>
                    <p id="p1">);</p>
                </div>
            </section>
            <div>
                <nav class="navsocial">
                    <a
                        class="ion-icon"
                        href="https://www.instagram.com/amunigk/"
                        target="_blank"
                        ><ion-icon size="large" name="logo-instagram"></ion-icon
                    ></a>
                    <a href="https://github.com/amanuelR" target="_blank"
                        ><ion-icon size="large" name="logo-github"></ion-icon
                    ></a>
                    <a
                        href="https://www.linkedin.com/in/amanuel-reda/"
                        target="_blank"
                        ><ion-icon size="large" name="logo-linkedin"></ion-icon
                    ></a>
                    <a href="" target="_blank"
                        ><ion-icon size="large" name="mail"></ion-icon
                    ></a>
                    <div class="animationS start-instagram"></div>
                </nav>
            </div>
        </section>
        <header></header>

        <section id="left-section">
            <div class="divContainer">
                <div class="content">
                    <ul class="uolist">
                        <li id="strokeClist">
                            <button id="StrokeColor" onclick="color_Stroke()">
                                Stroke Color
                            </button>
                        </li>
                        <li id="selectStrokeSize">
                            <button id="StrokeSize" onclick="strokeSize()">
                                Stroke Size
                            </button>
                        </li>
                        <li>
                            <button id="brush" onclick="isBrush()">
                                Brush
                            </button>
                        </li>
                        <li>
                            <a href="" id="save"
                                ><button id="Save" onclick="save_Picture()">
                                    Save
                                </button></a
                            >
                        </li>
                        <!-- button can not be nested inside element a, but this is working-->
                        <li>
                            <button id="Clear" onclick="clear_Board()">
                                Clear
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <canvas id="canvas"></canvas>
        <script src="../drawingBoardJS.js"></script>

        <section>
            <footer>
                <h6>Work in-progress, it will be completed soon.</h6>
                <p id="datentime"></p>
            </footer>
        </section>
        <script>
            //display date
            var date = new Date(); // Date() object
            var x;
            if (date.getHours() - 12 > 0) {
                x = "PM";
            } else {
                x = "AM";
            }
            document.getElementById("datentime").innerHTML =
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + date.getDate()).slice(-2) +
                "-" +
                date.getFullYear() +
                " " +
                (("0" + date.getHours()).slice(-2) - 12) +
                ":" +
                ("0" + date.getMinutes()).slice(-2) +
                " " +
                x;
        </script>
    </body>
</html>
